<div class="container">
  <!-- views/partials/profiles.ejs -->
<h1>Profiles</h1>
<ul>
    <% profiles.forEach(profile => { %>
        <li>
            <strong>Name:</strong> <%= profile.firstName %> <%= profile.lastName %><br>
            <strong>Profile:</strong> <%= profile.profile %><br>
            <strong>Date of Birth:</strong> <%= profile.dateOfBirth.toDateString() %><br>
            <strong>Height:</strong> <%= profile.height %> cm<br>
            <strong>Status:</strong> <%= profile.status %><br>
            <strong>Language:</strong> <%= profile.language %><br>
            <strong>Religion:</strong> <%= profile.religion %><br>
            <strong>Occupation:</strong> <%= profile.occupation %><br>
            <strong>Pin Code:</strong> <%= profile.pinCode %><br>
            <strong>Age:</strong> <%= profile.age %><br>
            <strong>Phone Number:</strong> <%= profile.phoneNumber %><br>
            <strong>Address:</strong> <%= profile.address %><br>
            <strong>Note:</strong> <%= profile.note %><br>
        </li>
    <% }) %>
</ul>

</div>