<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Matrimony</title>
  </head>

  <body>


    <%- include('../partials/navbar') %>
    <%- include('../partials/carousel'); %>
    <%- include('../partials/services'); %>
    <%- include('../partials/about'); %>
    <%- include('../partials/members'); %>

    <% if (authenticated) { %>
      <%- include('../partials/showProfiles', { profiles: profiles, page: page, totalPages: totalPages }) %>
      <% } %>
      
      <%- include('../partials/successStories') %>
      <%- include('../partials/extra') %>
      
      <%- body %>

      <%- include('../partials/footer'); %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
